.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
}

header img {
  width: min(800px, 90%);
}
header {
  margin-top: 50px;
}

footer {
  font-size: 12px;
  color: black;
  text-align: center;
  background: #51a525;
  padding-bottom: 5px;
  padding-top: 5px;
}

footer a {
  color: black;
}

footer a:hover {
  color: yellow;
}
