form {
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
  width: min(340px, 60%);
}
.word-input {
  background: yellow;
  color: #fe8924;
  padding:7px 10px;
  border: 0.5px solid #51a525;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  font-weight: 700;
  flex: 1;
  max-width: 100%;
  -webkit-appearance: none;
}

.word-input::-webkit-input-placeholder {
  color: #fe8924;
}
.word-input::-moz-placeholder {
  color: #fe8924;
}
.word-input:-ms-input-placeholder {
  color: #fe8924;
}
.word-input:-moz-placeholder {
  color: #fe8924;
}

.search-button {
  background: yellow;
  padding:7px 10px;
  border: 0.5px solid #51a525;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  color: #fe8924;
  font-weight: 700;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background: #51a525;
}

.error-message {
  color: #000;
  margin: 30px 0;
  font-weight: 500;
  font-size: 17px;
}

.loader {
  margin: 70px auto 50px;
  display:block;
  width:fit-content;
}